

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 16px;
  max-width: 100%;
  margin: 0 auto;
}

.currency-card {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 6px 20px 20px 20px;
  height: 125px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 13px;           /* 稍小 */
}

.currency-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
  background-color: beige;
}

