.container {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  font-family: sans-serif;
   margin: 0;
  padding: 0;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  align-content: center;
  display: flex;
  list-style: none;
  padding: 15px 0 0 10%;
  background: #837599;
  height: 50px;
}

.nav-link-item {
  padding-right: 2rem;
   
}

.nav-link-text {
  display: inline-block;
  color: black;
  background: #b41717;
  width: auto;
  height: auto;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
}

.nav-link-text:hover {
  background: #6e5f5f;
  color: white;
}

.site-title {
  width: 1000px;          /* 你定好的宽度 */
   margin: 0 auto;      
  border-radius: 15px;
  /* 下面是你原来的样式 */
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  text-align: center;    /* 文字在块里再居中一次，可选 */
  background: #17b4b4;
  margin-bottom: 30px;

}
.top-Bar{
  position: sticky;
  top: 0px;
  z-index: 100;
  background: rgb(93, 74, 112);   /* 需要背景，否则透下去 */
  box-shadow: 0 2px 6px rgba(0,0,0,.08); /* 可选阴影 */
  width: 100%;
  height: 150px;

}

.box {
  width: 80%;
  margin: 0 auto;   /* 关键：左右 auto → 水平居中 */
  padding: 0;
  box-sizing: border-box;
}